<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenidos a Pokemon</title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script src="path-to-the-file/splide.min.js"></script>
  </head>
  <body>
    <div class="contenedor-titulo">
      <h1 class ="titulo">Bienvenido a  <b>Pokemón</b></h1>
      <section class="splider" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">Slide 01</li>
            <li class="splide__slide">Slide 02</li>
            <li class="splide__slide">Slide 03</li>
          </ul>
        </div>
      </section>
      <footer>
        <script src="path-to-the-file/splide.min.js"></script>
      </footer>
    </div>
  </body>
</html>
